@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241, 245, 241);
}
input:disabled{
    background-color: transparent;
    border: .1px solid rgba(114, 114, 114, 0.263);
}